@font-face {
  font-family: 'FujitsuMed';

  src: url('font/fujitsusansmedium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/fujitsusansmedium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('font/fujitsusansmedium-webfont')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
font-family: 'FujitsuReg';

  src: url('font/fujitsusansregular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/fujitsusansregular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('font/fujitsusansregular-webfont')  format('truetype'), /* Safari, Android, iOS */
}