@import 'normalize';
@import 'fonts';
@import 'vars';
@import 'base';
@import 'iframe';

body {
  font-family: 'FujitsuMed';
}

#wrapper {
  width: 100%;
  text-align: center;

}

#content-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}

#grey-wrapper {
  background-color: #dad9d6;
}

#light-grey-wrapper {
  background-color: #efeee9;
}

#form-wrapper {
  background-image: url('img/form-background.jpg');
  min-height: 680px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #681a14;
}

.full-width-wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

#logo {
  float: right;
}

header * {
  display: inline-block;
}

.title-section {
  width: 100%;
}

#title {
  margin: 10px 0;
  font-size: 20px;
}

nav {
  width: 100%;
}

#nav-logos {
  float: right;
  padding-top: 5px;
}

#menu {
  list-style: none;
  padding-left: 25px;
  margin: 5px 0;
}

#menu > li {
  padding: 0 10px;
}

#hero {
  
  background: linear-gradient(90deg, rgba(208,213,214,1) 0%, rgba(240,243,244,1) 100%); /* w3c */
  display: block;
  width: 100%;
  
}

#hero > * {
  display: inline-block;
  vertical-align: top;
}

#speech {
  margin-left: 15%;
  padding-top: 20px;
  padding-bottom: 3%;
}

#hero-copy {
  width: 40%;
}

section {
  padding: 60px 0;
}

.section-copy {
  width: 85%;
  margin-bottom: 55px;
}

section .section-copy h2 {
  color: #a30b1a;
  font-family: 'FujitsuReg'
}

.two-col {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.form {
  padding-top: 50px;
  margin-left: 6px;
}

#form-section-copy {
  text-align: left;
  margin: 45% auto;
  color: #ffffff;
  width: 60%;

}
